.menubar {
    -fx-background-color: #9C1428;
    -fx-font-family: sans-serif;
    -fx-pref-height: 60px;
}

.menu {
    -fx-pref-height: 60px;
    -fx-pref-width: 90px;
    -fx-background-color: #9C1428;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.playList {
    -fx-pref-height: 60px;
    -fx-pref-width: 90px;
    -fx-background-color: #9C1428;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.hBoxPrincipal {
    -fx-background-color: #191919;
    -fx-background-radius: 10;
}

.label {
    -fx-font-family: sans-serif;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#return:hover {
    -fx-background-color: #9C1428;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#return {
    -fx-background-color: #c8c8c8;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}