/* principal.css */
.root {
    -fx-background-color: #191919;
}
#root2 {
    -fx-font-size: 16px;
    -fx-font-family: sans-serif;
    -fx-background-color: white;
}
#root3 {
    -fx-font-size: 16px;
    -fx-font-family: sans-serif;
    -fx-background-color: #191919;
    -fx-background-color: #191919;
}
.menubar {
    -fx-background-color: #9C1428; /* Azul */
    -fx-font-family: sans-serif;
    -fx-pref-height: 60px;
}

.menu {
    -fx-pref-height: 60px;
    -fx-pref-width: 90px;
    -fx-background-color: #9C1428; /* Azul */
    -fx-alignment: center; /* Centrar texto */
    -fx-font-size: 16px; /* Tamaño de letra */
    -fx-text-fill: white; 
}


.boton-flotante {
    -fx-background-color: #5c5c5c;
    -fx-background-radius: 45%; /* Hace que el botón sea circular */
    -fx-min-width: 45px; /* Ancho mínimo personalizado */
    -fx-min-height: 45px; /* Altura mínima personalizada */
    -fx-max-width: 45px; /* Ancho máximo personalizado, para mantenerlo circular */
    -fx-max-height: 45px; /* Altura máxima personalizada, para mantenerlo circular */
}

.boton-flotante:hover {
    -fx-background-color: #9C1428;
    -fx-background-radius: 45%; /* Hace que el botón sea circular */
    -fx-min-width: 45px; /* Ancho mínimo personalizado */
    -fx-min-height: 45px; /* Altura mínima personalizada */
    -fx-max-width: 45px; /* Ancho máximo personalizado, para mantenerlo circular */
    -fx-max-height: 45px; /* Altura máxima personalizada, para mantenerlo circular */
}

.seeButton {
    -fx-background-color: rgb(112, 108, 108);
}

/* Estilo normal para el botón de eliminar */
.boton-eliminar {
    -fx-background-color: rgb(112, 108, 108);
}

/* Estilo normal para el botón de modificar */
.boton-modificar {
    -fx-background-color: rgb(112, 108, 108);
}

.boton-flotante {
    -fx-background-color: green;
}
#button {
    -fx-background-color: #9C1428;
    -fx-text-fill: white;
}
#button:hover {
    -fx-background-color: #c8c8c8; /* Color de fondo */
    -fx-text-fill: black; /* Color del texto */
}
#warning {
    -fx-text-fill: #9C1428; /* Color del texto */
}
#gridPane{
    -fx-background-color:white;
}

.table-row-cell {
    -fx-alignment: center-left; /* Alineación del contenido de la celda *//* Espaciado interno */
}